.sony-container{
    height: 20px;
}
.sony-container img{
    height: 70%;
}
.dropdown{
    position: static;
}
.dropdown-menu[data-bs-popper]{
    width: 100%;
    margin-top: 0;
}
.dropdown-menu{
    border: none 0;
    border-radius: 0;
}
.dropdown-menu.show{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main section .bg-returnal{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
main section .bg-returnal img{
    width: 50%;
}
.card-consigliati{
    border-radius: 2rem;
}
main section .bg-itt{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; 
}
main section .bg-itt img{
    width: 50%;
}
.ps-plus{
    background-color: #BEBCBB;
}
.ps-plus button{
    background-color: #D9DADC;
    color: #3066E6;
    font-weight: 700 ;
}
.ps-plus-img{
    display: none;
}
.ps-now{
    background-color: #161C3B;
}
.ps-now button{
    font-weight: 700 ;
}
.ps-now-img{
    display: none;
}
footer{
    background-color: #00439C;
}
footer .ps-footer-img{
    width: 17vw; 
}
/* media and animation */
@media screen and (min-width: 768px) {
    main section .bg-returnal img{
        width: 20%;
    }
    main section .bg-returnal p{
        width: 25%;
    }
    main section .bg-itt img{
        width: 35%;
    }
    main section .bg-itt p{
        width: 25%;
    }
    main section .ps-plus-img{
        display: unset;
    }
    main section .ps-now-img{
        display: unset;
    }
}
